<!DOCTYPE html>
<html>
<head>
  <title>Open graph image</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "open_graph_image/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
